
.block_title {
    display: flex;
    padding: 5px;
    margin: 10px;
    flex: 0 1 100%;
    text-align: center;
    flex-wrap:wrap;
}

.test {
    margin: 10px;
}

.modalWindow input{
    width: auto;
}

.modalWindow textarea{
    width: max-content;
    height: min-content;
}
