.app-wrapper{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(212, 212, 207);
  margin: auto;
}

.app-wrapper .app-header {
  flex: 0 1 100%;
  text-align: center;
  height: 30px;
  margin: auto;
  background-color: rgb(161, 179, 184);
}

.app-wrapper .app-nav {
  flex: 0 1 20%;
  max-width: 200px;
  background-color: rgb(199, 209, 188);
}

.app-wrapper .app-title {
flex: 0 1 80%;
}

div {
  margin: 5px;
}