html, body, #root, .app-wrapper {
  height: 100%;
  margin: 0 auto;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.app-wrapper .app-header {
  flex-wrap: wrap;
  min-height: 70px;
  background-color: rgb(204, 204, 204);
}


.app-wrapper .app-contact-row {
  flex-wrap: wrap;
  min-height: 70px;
  background-color: rgb(204, 204, 204);
  }

.app-wrapper .app-nav {
  flex: 1 0 auto;
  flex-wrap: wrap;
  
}


  
  